{% extends "base.html" %}

{% block content %}
         {% if courses %}
                {% for course in courses %}
                    <div class="row">
                        <div class="col-md-4">
                          <h4>{{ course.name }}</h4>
                          <p>Aktualny wynik: {{ course.enrollments.0.computed_current_score }}%</p>
                          <p></p>
                          <a value="{{ forloop.counter0 }}" href="{% url 'canvas_grades' %}" class="btn btn-primary download_btn">Pobierz oceny</a>
                        </div>
                        <div class="col-md-8" id="modal{{forloop.counter0}}" style="display: none">
                            <h5 id="progressModalLabel{{forloop.counter0}}">Status:...</h5>
                            <div class="modal-body center-block" id="modal-body{{forloop.counter0}}">
                            <div class="progress">
                                <div id="bar{{forloop.counter0}}" class="progress-bar bar active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">

                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                <div class="row">
                    <div class="well" style="max-width: 400px; margin: 0 auto 10px;">
                     <a taret-label='#progressModalLabel' id="courses_json" value="{{ courses_json }}" href="{% url 'canvas_grades' %}" type="button" class="btn btn-primary btn-lg btn-block download_btn">Pobierz wszystkie oceny</a>
                    </div>
                </div>

                <div class="modal fade" id="progressModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="progressModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="progressModalLabel"></h5>
                      </div>
                      <div class="modal-body center-block" id="modal-body">
                        <div class="progress">
                          <div id="bar" class="progress-bar bar active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                          </div>
                        </div>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
        {% endif %}

{% endblock %}