<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<meta name="viewport" content="width=device-width, initial-scale=1.0">

			<title>
				{% block title %}Canvas herokuapp{% endblock %}
			</title>

			{% block css %}
			<link rel="stylesheet" type="text/css"
				href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css"
				href="{{STATIC_URL}}bootstrap/css/bootstrap-theme.min.css">
            <link rel="stylesheet" type="text/css"
                  href="{{STATIC_URL}}app/css/style.css"
			<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
			{% endblock %}

			<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
				<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
			<![endif]-->

		{% endblock %}
	</head>
	<body>
	{% block body %}

		{% block header %}
		{% endblock %}
        {% if messages %}
                {% for message in messages %}
                <div onclick="$('.alert').fadeOut();" class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
        {% endif %}
        <div class="container">
        <div class="row">
    	<h2>Canvasapp</h2>
        <div class="btn-group btn-breadcrumb">
            <a href="{% url 'home' %}" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
            <a href="{% url 'canvas_login' %}" class="btn btn-primary">Preferencje</a>
            <a href="{% url 'canvas_list'  %}" class="btn btn-primary">Przedmioty</a>
            </div>
	    </div>
		{% block content %}
		{% endblock %}
        </div>
		{% block js %}
			<script src="https://code.jquery.com/jquery.js"></script>
			<script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
            <script src="{{STATIC_URL}}app/js/script.js"></script>
		{% endblock %}

	{% endblock %}
	</body>
</html>
