{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
       <div class="panel panel-info">
             <div class="panel-heading">
                <div class="panel-title">{{purpose}} {{canvas}}</div>
             </div>
             <div style="padding-top:30px" class="panel-body">
                <form role="form" method="POST">
                {% csrf_token %}
                {{ form|as_bootstrap }}
                    {% if purpose == "Logowanie" %}
                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                            </label>
                        </div>
                    </div>
                    {% endif %}
                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                            <a id="btn-fblogin" href="{% url 'home' %}" class="btn btn-primary">Wstecz</a>
                            <button type="submit" class="btn btn-success">Wyślij</button>
                        </div>
                    </div>
                    {% if purpose == "Logowanie" %}
                    <div class="form-group" >
                        <div class="col-md-12 control" style="padding-top: 10px">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                Nie masz konta?
                                <a href="{% if canvas %}{{'https://canvas.instructure.com/'}}{% else %}{% url 'register' %}{% endif %}">
                                Zarejstruj się tutaj
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </form>
             </div>
       </div>
 </div>
{% endblock %}