{% extends 'base.html' %}

{% block content %}
	<ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Canvasapp na heroku</h4>
            </div>
            <div class="timeline-body">
              <p>Canvasapp pozwala na połączenie się z canvasem po wcześniejszym zarejstrowaniu się w canvasapp. Aplikacja wyświetla listę przedmiotów na które użytkownik jest zapisany oraz pozwala na pobranie ocen poszczególnych zadań.</p>
              <p>Canvasapp działa na chmurze <a href="https://www.heroku.com/">Heroku</a></p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-ok-sign"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Canvas REST API!</h4>
            </div>
            <div class="timeline-body">
              <p>Aplikacja Canvasapp używa REST api udostępnione przez canvas.infrastrucute.com</p>
              <p>Dokumentacje można znaleść <a href="https://canvas.instructure.com/doc/api/">tutaj</a></p>
            </div>
          </div>
        </li>
    </ul>
{% endblock %}
